<div class="row">
    <section class="col-md-offset-3 col-md-6">
        <div class = "well">
            <h2>Edit or delete user</h2>
            <hr />
            <form name="editUserForm" class="form-horizontal" role="form" data-ng-submit="editUser()" novalidate>

                <div data-ng-hide="message == ''" data-ng-class="(successful) ? 'alert alert-success' : 'alert alert-danger'">
                  <button type="button" class="close" data-ng-click="message = ''">&times;</button>
                  <span data-ng-bind="message"></span>
                </div>

                 <div class="form-group">
                    <label class="col-md-3 control-label">Role</label>
                    <div class="col-md-9">
                        <select  class="form-control" data-ng-change="getPermissions()" data-ng-model="user.Role" data-ng-options="r for r in roles"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Project</label>
                    <div class="col-md-9">
                        <label class="form-control" data-ng-bind="user.ProjectTitle" data-ng-disabled="true"/>
                    </div>
                </div>

                <div class="form-group" data-ng-class="{ 'has-error' : editUserForm.userName.$invalid && editUserForm.userName.$dirty }">
                    <label class="col-md-3 control-label">User name</label>
                    <div class="col-md-9">
                        <input type="text" name ="userName" class="form-control" placeholder="Enter user name" data-ng-model="user.UserName" required autofocus/>
                        <span data-ng-show="editUserForm.userName.$invalid && editUserForm.userName.$dirty" class="help-block">User's name is required.</span>
                    </div>
                </div>

                <div class="form-group" data-ng-class="{ 'has-error' : editUserForm.email.$invalid && editUserForm.email.$dirty }">
                    <label class="col-md-3 control-label">Email</label>
                    <div class="col-md-9">
                        <input type="email" name ="email" class="form-control" placeholder="Enter email" data-ng-model="user.Email"/>
                        <span data-ng-show="editUserForm.email.$invalid && editUserForm.email.$dirty" class="help-block">Email is invalid.</span>
                    </div>
                </div>

                <div class="form-group" data-ng-class="{ 'has-error' : editUserForm.firstName.$invalid && editUserForm.firstName.$dirty }">
                    <label class="col-md-3 control-label">First name</label>
                    <div class="col-md-9">
                        <input type="text" name ="firstName" class="form-control" placeholder="Enter first name" data-ng-model="user.FirstName" required/>
                        <span data-ng-show="editUserForm.firstName.$invalid && editUserForm.firstName.$dirty" class="help-block">First name is required.</span>
                    </div>
                </div>

                <div class="form-group" data-ng-class="{ 'has-error' : editUserForm.lastName.$invalid && editUserForm.lastName.$dirty }">
                    <label class="col-md-3 control-label">Last name</label>
                    <div class="col-md-9">
                        <input type="text" name ="lastName" class="form-control" placeholder="Enter last name" data-ng-model="user.LastName" required/>
                        <span data-ng-show="editUserForm.lastName.$invalid && editUserForm.lastName.$dirty" class="help-block">Last name is required.</span>
                    </div>
                </div>

                <button type="submit"  data-ng-show="IsUpdateAllowed()" data-ng-disabled="editUserForm.$pristine || editUserForm.$invalid" class="btn btn-primary">Save</button>
                <button type="button" data-ng-show="IsDeletionAllowed()" class="btn btn-primary" data-ng-click="openModalDeleteUserDialog('sm')">Delete</button>

            </form>
        </div>

        <accordion>
            <accordion-group is-open="status.open">
                <accordion-heading>
                    Effective permissions for {{user.Role}} <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': !status.open, 'glyphicon-chevron-up': status.open}"></i>
                </accordion-heading>
                <ul data-ng-repeat="permission in user.Permissions">
                    <li data-ng-bind="permission.Description"></li>
                </ul>
            </accordion-group>
        </accordion>

    </section>
</div>

