<div class="row">
    <section class="col-md-offset-3 col-md-6">
        <div class = "well">
            <h2>Forgot password</h2>
            <form class="form-horizontal" role="form">
                <h5>Enter your email address</h5>
                <hr />
                <ul class="text-danger"">
                    <li data-ng-show="false"></li>
                </ul>

                <div class="form-group">
                    <label for="UserEmail" class="col-md-3 control-label">Email</label>
                    <div class="col-md-9">
                        <input type="text" id="UserEmail" class="form-control" placeholder="Enter your email" data-ng-model="" autofocus/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-primary" data-ng-click="resetPsw()">Send</button>
                    </div>
                </div>

            </form>
        </div>
    </section>
</div>