<div class="row">
    <section class="col-md-offset-3 col-md-6">
        <div class = "well">
            <h2>Reset password</h2>
            <hr />
            <div class="form-group">
                <label data-ng-hide="true" data-ng-bind ="data.code"></label>
            </div>
           
            <form name="resetPswForm" class="form-horizontal" role="form" data-ng-submit="reset()" novalidate>
               
                <div data-ng-hide="message == ''" data-ng-class="(successful) ? 'alert alert-success' : 'alert alert-danger'">
                    <button type="button" class="close" data-ng-click="message = ''">&times;</button>
                    <span data-ng-bind="message"></span>
                </div>

                <div class="form-group">
                    <strong class="col-md-12" >User: <span class="label label-default" data-ng-bind ="data.userName"></span></strong>
                </div>

                <div class="form-group" data-ng-class="{ 'has-error' : resetPswForm.password.$invalid && resetPswForm.password.$dirty }">
                    <label class="col-md-3 control-label">Password</label>
                    <div class="col-md-9">
                        <input type="password" name="password" class="form-control" placeholder="New password" data-ng-model="data.password" required/>
                        <span data-ng-show="resetPswForm.password.$invalid && resetPswForm.password.$dirty" class="help-block">Password is required.</span>
                    </div>
                </div>

                <div class="form-group" data-ng-class="{ 'has-error' : resetPswForm.password.$invalid && resetPswForm.password.$dirty }">
                    <label class="col-md-3 control-label">Confirm password</label>
                    <div class="col-md-9">
                        <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm new password" data-ng-model="data.confirmPassword" required/>
                        <span data-ng-show="resetPswForm.confirmPassword.$invalid && resetPswForm.confirmPassword.$dirty" class="help-block">New password confirmation is required.</span>
                        <span data-ng-show="(resetPswForm.password.$dirty && resetPswForm.confirmPassword.$dirty) && (data.password != data.confirmPassword)">Passwords do not match.</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" data-ng-disabled="resetPswForm.$pristine || resetPswForm.$invalid" class="btn btn-primary">Reset</button>
                    </div>
                </div>

            </form>
        </div>
    </section>
</div>