<div class="row">
    <section class="col-md-offset-0 col-md-12">

        <h2>Tasks</h2>
        <hr />

        <div data-ng-hide="message == ''" data-ng-class="(successful) ? 'alert alert-success' : 'alert alert-danger'">
            <button type="button" class="close" data-ng-click="message = ''">&times;</button>
            <span data-ng-bind="message"></span>
        </div>

        <form class="form-horizontal">

            <div class="form-group">
                <strong class="col-md-12" >Project: <span class="label label-default" data-ng-bind ="manager.projectTitle"></span></strong>
                <strong class="col-md-12" >Manager: <span class="label label-default" data-ng-bind ="manager.userName"></span></strong>
            </div>
        
            <div class="form-group">
                <label class="col-md-2 control-label">Find for</label>
                <div class="col-md-3">
                    <select class="form-control" data-ng-model="searchFor" data-ng-change="clearSearch()">
                        <option value="$">All table</option>
                        <option data-ng-bind ="fields[0].name" value={{fields[0].value}}></option>
                        <option data-ng-bind ="fields[1].name" value={{fields[1].value}}></option>
                        <option data-ng-bind ="fields[4].name" value={{fields[4].value}}></option>
                        <option data-ng-bind ="fields[5].name" value={{fields[5].value}}></option>
                        <option data-ng-hide="authUser.Role=='User'" data-ng-bind ="fields[6].name" value={{fields[6].value}}></option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" data-ng-model="search[searchFor]" class="form-control" placeholder="Enter text to find"/>
                </div>
            </div>

            <div class="form-group">
                <label for="DateFilterFor" class="col-md-2 control-label">Date filter for</label>
                <div class="col-md-3">
                    <select id="DateFilterFor" class="form-control" data-ng-model="dateFor" data-ng-change="refreshDates()">
                        <option value="$">Select column</option>
                        <option data-ng-bind ="fields[2].name" value={{fields[2].value}}></option>
                        <option data-ng-bind ="fields[3].name" value={{fields[3].value}}></option>
                        <option data-ng-bind ="fields[7].name" value={{fields[7].value}}></option>
                    </select>
                </div>
                <div class="col-md-3">
                    <p class="input-group">
                        <input type="text" class="form-control" data-datepicker-popup="yyyy-MM-dd" data-ng-model="fromDate" data-is-open="openedFrom" data-ng-change="checkFromDate()" data-min-date="minDate" data-max-date="maxDate" placeholder="From" data-close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" data-ng-click="openFrom($event, openedFrom)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>

                <div class="col-md-3">
                    <p class="input-group">
                        <input type="text" class="form-control" data-datepicker-popup="yyyy-MM-dd" data-ng-model="toDate" data-is-open="openedTo" data-ng-change="checkToDate()" data-min-date="minDate" data-max-date="maxDate" placeholder="To" data-close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" data-ng-click="openTo($event, openedTo)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>

            </div>

        </form>

        <table class="table table-striped table-bordered task-user">
            <thead>
                <tr>
                    <th data-ng-repeat="(i,h) in fields" data-ng-hide="authUser.Role=='User' && h.value=='AssignedTo'" data-ng-click="toggleSort(i)"><span data-ng-class="selectIconClass(i)"></span>{{h.name}}</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        <select id="SelectTitle" class="form-control" data-ng-model="title" data-ng-options="t for t in titles">
                            <option value="">All</option>
                        </select>
                    </td>
                    <td>
                        <!-- No Selector for Description column -->
                    </td>
                    <td>
                        <!-- No Selector for Created Date column -->
                    </td>
                    <td>
                        <!-- No Selector for Due Date column -->
                    </td>
                    <td>
                        <select  id="SelectStatus" class="form-control" data-ng-model="status" data-ng-options="s for s in statuses">
                            <option value="">All</option>
                        </select>
                    </td>
                    <td>
                        <select  id="SelectCreatedByUser" class="form-control" data-ng-model="createdBy" data-ng-options="c for c in createdByUsers">
                            <option value="">All</option>
                        </select>
                    </td>
                    <td data-ng-hide="authUser.Role=='User'">
                        <select  id="SelectAssignedToUser" class="form-control" data-ng-model="assignedTo" data-ng-options="a for a in assignedToUsers">
                            <option value="">All</option>
                        </select>
                    </td>
                    <td>
                        <!-- No Selector for Completed Date column -->
                    </td>
                </tr>

                <tr data-ng-repeat="t in tasks | orderBy: sort.column: sort.reverse | filter: title | filter: status | filter: createdBy | filter: assignedTo | filter: search | dateRange: dateFor: fromDate: toDate">
                    <td><a href="#/tasks/edit/{{t.TaskId}}" data-ng-bind="t.Title"></a></td>
                    <td data-ng-bind="t.Description"></td>
                    <td data-ng-bind="t.CreatedDate | date:'yyyy-MM-dd'"></td>
                    <td data-ng-bind="t.DueDate | date:'yyyy-MM-dd'"></td>
                    <td data-ng-bind="t.Status"></td>
                    <td><a href="#/users/edit/{{t.CreatedBy}}" data-ng-bind="t.CreatedBy"></a></td>
                    <td data-ng-hide="authUser.Role=='User'"><a href="#/users/edit/{{t.AssignedTo}}" data-ng-bind="t.AssignedTo"></a></td>
                    <td data-ng-bind="t.CompletedDate | date:'yyyy-MM-dd'"></td>
                </tr>
            </tbody>
        </table>
        <pagination total-items="totalItems" items-per-page="pageSize" data-ng-model="currentPage" ng-change="pageChanged()"></pagination>
         
    </section>
</div>