<div class="row">
    <section class="col-md-offset-3 col-md-6">
        <div class = "well">
            <h2>User's details</h2>
            <hr />
            <form name="userForm" class="form-horizontal" role="form" data-ng-submit="send()" novalidate>

                <div data-ng-hide="message == ''" data-ng-class="(successful) ? 'alert alert-success' : 'alert alert-danger'">
                  <button type="button" class="close" data-ng-click="message = ''">&times;</button>
                  <span data-ng-bind="message"></span>
                </div>

                <div class="form-group">
                    <label for="Role" class="col-md-3 control-label">Role</label>
                    <div class="col-md-9">
                        <input type="text" id="Role" name ="role" class="form-control" data-ng-model="user.Role" data-ng-disabled="true"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="ProjectTitle" class="col-md-3 control-label">Project</label>
                    <div class="col-md-9">
                        <input type="text" id="ProjectTitle" name ="projectTitle" class="form-control" data-ng-model="user.ProjectTitle" data-ng-disabled="true"/>
                    </div>
                </div>

                <div class="form-group" data-ng-class="{ 'has-error' : userForm.userName.$invalid && userForm.userName.$dirty }">
                    <label for="UserName" class="col-md-3 control-label">User name</label>
                    <div class="col-md-9">
                        <input type="text" id="UserName" name ="userName" class="form-control" placeholder="Enter user name" data-ng-model="user.UserName" required autofocus/>
                        <span data-ng-show="userForm.userName.$invalid && userForm.userName.$dirty" class="help-block">User's name is required.</span>
                    </div>
                </div>

                <div class="form-group" data-ng-class="{ 'has-error' : userForm.email.$invalid && userForm.email.$dirty }">
                    <label for="Email" class="col-md-3 control-label">Email</label>
                    <div class="col-md-9">
                        <input type="email" id="Eamil" name ="email" class="form-control" placeholder="Enter email" data-ng-model="user.Email"/>
                        <span data-ng-show="userForm.email.$invalid && userForm.email.$dirty" class="help-block">Email is invalid.</span>
                    </div>
                </div>

                <div class="form-group" data-ng-class="{ 'has-error' : userForm.firstName.$invalid && userForm.firstName.$dirty }">
                    <label for="FirstName" class="col-md-3 control-label">First name</label>
                    <div class="col-md-9">
                        <input type="text" id="FirstName" name ="firstName" class="form-control" placeholder="Enter first name" data-ng-model="user.FirstName" required/>
                        <span data-ng-show="userForm.firstName.$invalid && userForm.firstName.$dirty" class="help-block">First name is required.</span>
                    </div>
                </div>

                <div class="form-group" data-ng-class="{ 'has-error' : userForm.lastName.$invalid && userForm.lastName.$dirty }">
                    <label for="LastName" class="col-md-3 control-label">Last name</label>
                    <div class="col-md-9">
                        <input type="text" id="LastName" name ="lastName" class="form-control" placeholder="Enter last name" data-ng-model="user.LastName" required/>
                        <span data-ng-show="userForm.lastName.$invalid && userForm.lastName.$dirty" class="help-block">Last name is required.</span>
                    </div>
                </div>

                <button type="submit" data-ng-disabled="userForm.$pristine || userForm.$invalid" class="btn btn-primary">Save</button>

            </form>
        </div>

        <accordion>
            <accordion-group is-open="status.open">
                <accordion-heading>
                    Effective permissions for {{user.Role}} <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': !status.open, 'glyphicon-chevron-up': status.open}"></i>
                </accordion-heading>
                <ul data-ng-repeat="permission in user.Permissions">
                    <li data-ng-bind="permission.Description"></li>
                </ul>
            </accordion-group>
        </accordion>

    </section>
</div>

