<!--This is where the main views would get loaded for SPA.
    This page is the container for all sub views that get loaded.
    The sub views would not inherit the master page, and hence would only send relevant html fargments to render specific views.-->
<div data-ng-view="" data-ng-controller="indexController"></div>
