<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  
  <assembly name="TaskBook.WebApi" />
  <assembly name="TaskBook.DomainModel" />

  <!-- Data Access Layer -->
  <alias alias="TaskBookDbContext" type="TaskBook.DataAccessLayer.TaskBookDbContext, TaskBook.DataAccessLayer" />
  <alias alias="AuthDbContext" type="TaskBook.DataAccessLayer.AuthDbContext, TaskBook.DataAccessLayer" />

  <container>
    <register type="TaskBookDbContext" mapTo="TaskBookDbContext" >
      <!-- New Each time -->
      <lifetime type="TransientLifetimeManager" />
    </register>

    <register type="AuthDbContext" mapTo="AuthDbContext" >
      <!-- New Each time -->
      <lifetime type="TransientLifetimeManager" />
    </register>    
    
  </container>
  
</unity>