<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  
  <assembly name="TaskBook.WebApi" />
  <assembly name="TaskBook.DomainModel" />

  <!-- Data Access Layer -->
  <alias alias="TaskBookDbContext" type="TaskBook.DataAccessLayer.TaskBookDbContext, TaskBook.DataAccessLayer" />
  <alias alias="RaderRepository" type="TaskBook.DataAccessReader.ReaderRepository, TaskBook.DataAccessReader" />
  <alias alias="TbDataReader" type="TaskBook.DataAccessReader.TbDataReader, TaskBook.DataAccessReader" />

  <container>
    <register type="TaskBookDbContext" mapTo="TaskBookDbContext" >
      <!-- New Each time -->
      <lifetime type="TransientLifetimeManager" />
    </register>

    <register type="RaderRepository" mapTo="RaderRepository" >
      <!-- New Each time -->
      <lifetime type="TransientLifetimeManager" />
    </register>

    <register type="TbDataReader" mapTo="TbDataReader" >
      <!-- New Each time -->
      <lifetime type="TransientLifetimeManager" />
    </register>
    
  </container>
  
</unity>