.jumbotron, .well {
  margin-top: 50px;
}

footer {
  clear: both;
}

.radio,
.checkbox {
  padding-left: 20px;
}

.radio label,
.checkbox label {
  padding-left: 0px;
}

.table.project-manager {
  margin-top: 70px;
}

.table.task-user {
  margin-top: 20px;
}

thead {
  cursor: pointer;
}

/* http://angular-ui.github.io/bootstrap/#/getting_started */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}